<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core"/>
    </sectionGroup>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.2"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="OtherApplication" value="0"/>

	  <add key="ApplicationEmails" value="omer_790@yahoo.com;dotgreen.yellow@gmail.com"/>
	  <add key="gddCertificate" value="1"/>
	  <add key="HucLogo" value="0"/>
  </appSettings>
  <connectionStrings>
    <!--Old Connection-->
    <!--
    <add name="DefaultConnection" connectionString="Data Source=WIN-MPGVA4O4K6M\SQLEXPRESS;Initial Catalog=SP_TrainingCourses;Persist Security Info=True;User ID=sa;Password=D3nyAcc355" providerName="System.Data.SqlClient" />
    <add name="DentonsEmployeesEntities" connectionString="metadata=res://*/Models.SinglePoint.SinglePoint.csdl|res://*/Models.SinglePoint.SinglePoint.ssdl|res://*/Models.SinglePoint.SinglePoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-MPGVA4O4K6M\SQLEXPRESS;initial catalog=DentonsEmployeesForRiskManager;persist security info=True;user id=sa;password=D3nyAcc355;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DefaultConnection" connectionString="Data Source=WIN-MPGVA4O4K6M\SQLEXPRESS;Initial Catalog=SP_TrainingCourses;Persist Security Info=True;User ID=sa;Password=D3nyAcc355" providerName="System.Data.SqlClient" />
   -->
    <!--<add name="SinglePoint_Entities" connectionString="data source=192.168.0.61\SQLEXPRESS;initial catalog=SinglePoint_Cloud;user id=sa;password=D3nyAcc355" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=192.168.0.61\SQLEXPRESS;Initial Catalog=SP_TrainingClone;user id=sa;password=D3nyAcc355" providerName="System.Data.SqlClient" />
    <add name="DentonsEmployeesEntities" connectionString="metadata=res://*/Models.SinglePoint.SinglePoint.csdl|res://*/Models.SinglePoint.SinglePoint.ssdl|res://*/Models.SinglePoint.SinglePoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.61\SQLEXPRESS;initial catalog=DentonsEmployeesForRiskManager;user id=sa;password=D3nyAcc355;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SinglePoint_Entities" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=SinglePoint_Cloud;integrated security=true" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=sp_TrainingClone;integrated security=true" providerName="System.Data.SqlClient"/>
    <add name="DentonsEmployeesEntities" connectionString="metadata=res://*/Models.SinglePoint.SinglePoint.csdl|res://*/Models.SinglePoint.SinglePoint.ssdl|res://*/Models.SinglePoint.SinglePoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=DentonsEmployeesForRiskManager;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Auth/Login" timeout="2880"/>
    </authentication>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="51200"  executionTimeout="360"/>
    <customErrors mode="Off" defaultRedirect="~/Error.html"/>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
    </pages>
  
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\CodeMail\"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core"/>
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false"/>
        </translators>
      </css>
      <js>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core"/>
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false"/>
        </translators>
      </js>
    </core>
  </bundleTransformer>
  <dotless minifyCss="false" cache="true" web="false"/>
  <system.webServer>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  <security>
	  <requestFiltering>
		  <requestLimits maxAllowedContentLength="524288000"></requestLimits>
	  </requestFiltering>
  </security>
	  <!--<staticContent>
		  <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
	  </staticContent>-->
  </system.webServer>
  <botDetect>
    <captchaImage>
      <helpLink enabled="true" mode="image"/>
    </captchaImage>
  </botDetect>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>