* {
    box-sizing: border-box;
  }

  *:active {
    outline: none;
  }

  html,
  body {
    height: 100%;
  }

  html,
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  p,
  blockquote,
  th,
  td {
  /*  margin: 0;
    padding: 0;*/
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  img {
    max-width: 100%;
    height: auto;
  }

@font-face {
  font-family: "default";
  src: url("fonts/default.eot?c38q6t");
  src: url("fonts/default.eot?c38q6t#iefix") format("embedded-opentype"),
    url("fonts/default.ttf?c38q6t") format("truetype"),
    url("fonts/default.woff?c38q6t") format("woff"),
    url("fonts/default.svg?c38q6t#default") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ev-icon-"],
[class*="ev-icon-"] {
  font-family: "default" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ev-icon-play-circle:before {
  content: "\e96a";
}

.ev-icon-mouse-left:before {
  content: "\e78e";
}

.ev-icon-star:before {
  content: "\e68d";
}

.ev-component .ev-component-interaction-label.ev-is-complete .ev-interaction-label-icon {
    color: #0066cc;
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

.ev-component {
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  min-width: 0;
}

.ev-component .ev-component-interaction-label {
  text-align: left;
}

.ev-component
  .ev-component-interaction-label.ev-is-incomplete
  .ev-interaction-label-inner {
  background-color: transparent;
}

.ev-component .ev-interaction-label-inner {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
}

.ev-component
  .ev-component-interaction-label.ev-is-incomplete
  .ev-interaction-label-icon {
  color: #cbcbcb;
}

.ev-component .ev-component-interaction-label .ev-interaction-label-icon {
  margin-right: 10px;
  vertical-align: sub;
}

.ev-component .ev-component-interaction-label .ev-interaction-label-icon,
.ev-component .ev-component-interaction-label .ev-interaction-label-text {
  display: inline-block;
}

.ev-icon {
  display: block;
  width: 23px;
  height: 23px;
  font-size: 23px;
  text-decoration: none;
  color: #454545;
  -webkit-font-kerning: initial;
  font-kerning: initial;
  -webkit-transform: translateZ(0);
}

.ev-clearfix {
  zoom: 1;
}

.ev-dialog-component .ev-dialog-start-avatars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ev-dialog-component .ev-dialog-start-avatar {
  flex: 0 0 19%;
  margin: 0 1% 1% 0;
  background-color: #66cc99;
  padding: 15px 10px 15px 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  border-top: 1px none #454545;
  border-right: 1px none #454545;
  border-bottom: 1px none #454545;
  border-left: 1px none #454545;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.ev-dialog-component .ev-dialog-start-avatar:last-child {
  margin-right: 0;
}

.ev-dialog-component .ev-dialog-start-avatar img {
  margin: auto;
  display: block;
}

.ev-img {
  max-width: 100%;
  display: block;
}

.ev-dialog-component .ev-dialog-start-name {
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
  /* font-family: Signika; */
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25;
}

.ev-dialog-component .ev-dialog-start-action {
  text-align: center;
  margin-top: 16px;
}

.ev-button {
  transition: background-color 0.25s ease-in, color 0.25s ease-in,
    border-color 0.25s ease-in;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
  border-top: 1px none #000000;
  border-right: 1px none #000000;
  border-bottom: 1px none #000000;
  border-left: 1px none #000000;
  padding: 8px 12px 8px 12px;
  margin: 6px 0px 6px 0px;
  /* font-family: Signika; */
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

.ev-button.ev-has-icon .ev-button-inner {
  display: inline-flex;
  align-items: center;
}

.ev-button span {
  pointer-events: none;
}

.ev-button .ev-icon {
  color: #ffffff;
  font-size: 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  color: inherit;
  pointer-events: none;
  margin: 0 5px 0 0;
}

.ev-dialog-component .ev-dialog-item {
  display: flex;
  margin-bottom: 3px;
}

.ev-dialog-component .ev-dialog-item-avatar {
  text-align: center;
  flex: 0 0 30%;
  margin-right: 10px;
}

.ev-dialog-component .ev-dialog-item-avatar img {
  height: 100%;
  margin: auto;
  display: block;
}

.ev-dialog-component .ev-dialog-item-message {
  flex: 1;
  color: #ffffff;
  /* font-family: Signika; */
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25;
}

.ev-dialog-component .ev-dialog-item-inner {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #66cc99;
  padding: 15px 10px 15px 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  border-top: 1px none #454545;
  border-right: 1px none #454545;
  border-bottom: 1px none #454545;
  border-left: 1px none #454545;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.ev-dialog-component .ev-dialog-item.ev-dialog-item-right-item {
  justify-content: flex-end;
}

.ev-dialog-component
  .ev-dialog-item.ev-dialog-item-right-item
  .ev-dialog-item-inner {
  flex-direction: row-reverse;
}

.ev-dialog-component
  .ev-dialog-item.ev-dialog-item-right-item
  .ev-dialog-item-avatar {
  margin-left: 10px;
  margin-right: 0;
}

.interview-module{
	overflow-x:hidden;
}
/* Responsive css */
@media all and (max-width: 520px) {
  .ev-component {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .ev-component .ev-interaction-label-inner {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
  }

  .ev-dialog-component .ev-dialog-start-avatar {
    flex: 0 0 32%;
  }

  .ev-dialog-component .ev-dialog-start-name {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
  }

  .ev-button {
    margin: 6px 0px 6px 0px;
    padding: 8px 12px 8px 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
  }

  .ev-dialog-component .ev-dialog-item-inner {
    width: auto !important;
  }

  .ev-dialog-component .ev-dialog-item-message {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
  }
}

@media all and (max-width: 760px) {
  .ev-component {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .ev-component .ev-interaction-label-inner {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
  }

  .ev-dialog-component .ev-dialog-start-avatar {
    flex: 0 0 49%;
  }

  .ev-dialog-component .ev-dialog-start-name {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
  }

  .ev-button {
    margin: 6px 0px 6px 0px;
    padding: 8px 12px 8px 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
  }

  .ev-dialog-component .ev-dialog-item-message {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
  }
}
