@font-face {
  font-family: 'roboto-light';
  src: url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.eot');
  src: url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.woff') format('woff'), url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.ttf') format('truetype'), url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.svg#roboto-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.eot');
  src: url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.woff') format('woff'), url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.ttf') format('truetype'), url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.eot');
  src: url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.woff') format('woff'), url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.ttf') format('truetype'), url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.svg#roboto-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 400px) {
  .page-content .box-pod.quote {
    padding: 40px 20px 20px;
  }
  .page-content .box-pod.quote p img.open-quote {
    left: 0;
    top: -20px;
  }
  #header .points {
    width: 100%;
    font-size: 13px;
  }
  #header .login-section {
    float: left;
    width: 100%;
    margin-top: 0;
  }
  #header .login-section a {
    float: left;
    margin: 0 auto;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  #main-content .home-slider .container .content .text-box p {
    font-size: 18px;
  }
  #main-content .sign-up-box .input-area input[type="submit"] {
    float: left;
    width: 100%;
  }
  #main-content .desc-form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
  }
  #main-content .contact-details div {
    width: 100%;
  }
  #main-content .contact-details div input[type="text"] {
    width: 100%;
  }
  #main-content .contact-details div textarea {
    width: 100%;
  }
  #main-content .contact-details div input[type="submit"] {
    float: left;
    margin-right: 0;
    font-size: 18px;
    width: 100%;
  }
  #main-content .news-items li ul li {
    width: 100%;
    margin-right: 0;
  }
  #main-content .pagination li a {
    font-size: 12px;
  }
  #main-content .news-details li {
    width: 100%;
    margin-right: 0;
  }
  #main-content .news-quote {
    padding: 35px 0 25px;
  }
  #main-content .news-quote p {
    padding: 0 0 15px;
  }
  #main-content .news-quote p img.open-quote {
    left: 0;
    top: -20px;
  }
  #main-content .news-quote label {
    padding-left: 0;
  }
  .login-colorbox .login-bar {
    font-size: 22px;
    padding-top: 12px;
  }
  .login-colorbox .heading {
    height: 100px;
  }
  .login-colorbox .login-area {
    height: 165px;
  }
  .login-colorbox .login-area input[type="text"],
  .login-colorbox .login-area input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
  }
  .login-colorbox .login-area input[type="submit"] {
    float: right;
    font-size: 12px;
    width: 35%;
  }
  .login-colorbox .login-area a {
    font-size: 12px;
    margin-top: 10px;
  }
  .picture-heading .text {
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .right-column .demo input[type="submit"] {
    width: 100%;
  }
  #footer ul {
    width: 100%;
    padding-bottom: 20px;
  }
  #footer .contact input[type="submit"] {
    width: 100%;
  }
}
