@font-face {
  font-family: 'roboto-light';
  src: url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.eot');
  src: url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.woff') format('woff'), url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.ttf') format('truetype'), url('/_Content/Fonts/Roboto/Light/Roboto-Light-webfont.svg#roboto-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.eot');
  src: url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.woff') format('woff'), url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.ttf') format('truetype'), url('/_Content/Fonts/Roboto/Regular/Roboto-Regular-webfont.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.eot');
  src: url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.woff') format('woff'), url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.ttf') format('truetype'), url('/_Content/Fonts/Roboto/Bold/Roboto-Bold-webfont.svg#roboto-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 480px) {
  .login-colorbox .heading {
    height: 110px;
  }
  .login-colorbox .login-area input {
    font-size: 18px;
  }
  .picture-heading .text span {
    font-size: 14px;
  }
  #main-content .home-info ul {
    margin-bottom: 0;
  }
  #main-content .home-info ul li {
    width: 100%;
    margin: 0 0 35px;
  }
  #main-content .home-slider .container .content .text-box p {
    font-size: 22px;
  }
  #main-content .home-slider .container .content .text-box .large-button {
    font-size: 15px;
  }
  #main-content .right-column .selection-container,
  #main-content .right-column .demo {
    width: 100%;
    margin-right: 0;
  }
  #footer .copyright-social .copyright {
    width: 100%;
  }
  #footer .copyright-social .social-buttons {
    width: 80px;
    right: 50%;
    margin-right: -40px;
  }
}
