@using HUC.Web.Models
@model HUC.Web.App.Users.UserResetPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageData = new PageDataModel
    {
        Title = "Reset Password",
        ContentTitle = "Reset Password",
        Breadcrumb = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("reset password")
        }
    };
}

<div class="desc-form standard-bg">
    <div class="container">
        <div class="content">
            <div class="width-50">
                <h2>
                    Reset your password
                </h2>
                <p>
                    Enter a new password for your account.
                </p>
            </div>
            <div class="width-50">
                <h2>
                    Enter your new password
                </h2>
                @using (Html.BeginForm())
                {
                    @Html.PasswordFor(x => x.Password, new { placeholder = "Password" })
                    @Html.ValidationMessageFor(x => x.Password)
                    @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    <input class="large-button orange" type="submit" value="Submit" />
                }
            </div>
        </div>
    </div>
</div>