@{
    ViewBag.PageTitle = "Layout Colour";
    Layout = "~/Areas/Scale/Views/Shared/_LayoutScale.cshtml";
    ViewBag.PageName = "layout-colour";
    ViewBag.ParentPageName = "ui";
    //Content title area
    ViewBag.ContentTitle = "Layout Colour";
    ViewBag.ContentTitleDesc = " ";
}

@section Scripts{

}
<header class="header bg-white b-b b-light">
    <p>Layout with different color, it's very easy to make it works</p>
</header>
<section class="scrollable wrapper w-f">
    <p class="h4">Contents...</p>
</section>