@{
    ViewBag.PageTitle = "Datatables";
    Layout = "~/Areas/Scale/Views/Shared/_LayoutScale.cshtml";
    ViewBag.PageName = "datatables";
    ViewBag.ParentPageName = "ui";
    //Content title area
    ViewBag.ContentTitle = "Datatables";
    ViewBag.ContentTitleDesc = " ";
}

@section Scripts{
    <script src="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/demos/demo-datatables.js"></script>
    <link href="@(HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : string.Empty)/_Content/Scale/js/datatables/datatables.css" rel="stylesheet" />
}
<section class="panel panel-default">
    <header class="panel-heading">
        DataTables 
        <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
    </header>
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
            <thead>
                <tr>
                    <th width="20%">Rendering engine</th>
                    <th width="25%">Browser</th>
                    <th width="25%">Platform(s)</th>
                    <th width="15%">Engine version</th>
                    <th width="15%">CSS grade</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
