@using HUC.Web.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageData = new PageDataModel
    {
        Title = "Conditions of usage",
        ContentTitle = "Conditions of usage",
        Breadcrumb = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("conditions of usage")
        }
    };
}

<div class="full-page standard-bg">
    <div class="container">
        <div class="content">
            <h2>
                TERMS AND CONDITIONS OF WEBSITE USE
            </h2>
            <p>
                This website is owned and operated by Training Courses Limited (otherwise referred to as ”we”, “our” or ”us”), a company limited by shares that is registered in England and Wales and the office address of Wyre Forest House, Fine Point Way, Kidderminster, Worcestershire, DY11 7WF.
            </p>
            <p>
                Please read these terms carefully before using our website. Using this website indicates that you accept these terms regardless of whether or not you choose to register with us. If you do not accept these terms, do not use our website.
            </p>
            <h3>
                Access
            </h3>
            <p>
                We reserve the right to remove access to this website in respect of anyone who does not comply with the terms set out herein.
            </p>
            <h3>
                Content
            </h3>
            <p>
                Unless stated otherwise, the intellectual property rights and copyrights for all material displayed on our website (and contained in the online courses and materials accessed via our website) are owned by us or our licensors.  You may download and print extracts from our website (or from the online courses accessed through our website) for your own personal, non-commercial purposes.  You should not use any extracts from our website for any other purposes. Any rights not expressly granted in these terms and conditions are reserved.<br />
                No part of our website may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without our prior written permission. Any rights not expressly granted in these terms are reserved.
                With the exception of the online courses and associated material on our website is provided on an “as is” basis, without any conditions, warranties or other terms of any kind.  To the maximum extent permitted by law, we provide you with this website on the basis that we exclude all representations, warranties, conditions and other terms (including, without limitation, the conditions implied by law of satisfactory quality, fitness for purpose and the use of reasonable care and skill) which but for these terms and conditions might have an effect with respects to our website.

            </p>
            <h3>
                Availability
            </h3>
            <p>
                We always try to ensure that our website is always available for you. In the event that our website is unavailable at any time and for any period (for whatever reason) we shall not be liable.
            </p>
            <h3>
                Visitor Material and Conduct
            </h3>
            <p>
                Other than personally identifiable information, which is covered under our Privacy Policy, any material you transmit or post to this website shall be considered non-confidential and non-proprietary. We shall have no obligations with respect to such material. We and our designees shall be free to copy, disclose, distribute, incorporate and otherwise use such material and all data, images, sounds, text and other things embodied therein for any and all commercial or non-commercial purposes.<br />
                You are prohibited from posting or transmitting to or from our website any material that is threatening, defamatory, obscene, or similar. You must have obtained all necessary licences and/or approvals before submitting any information. We reserve the right to remove any material from its website that it considers inappropriate or unsuitable.
                We shall fully co-operate with any law enforcement authorities or court order requesting or directing us to disclose the identity or locate anyone posting inappropriate material.
            </p>
            <h3>
                Registration
            </h3>
            <p>
                To participate in online courses via our website you will need to register with us. Each registration is for a single user only. We do not permit you to share your user name and password with any other person nor with multiple users on a network. Responsibility for the security of any passwords issued rests with you.<br />
                Information you provide to us during your registration will be dealt with in line with our Privacy Policy.
            </p>
            <h3>
                Privacy
            </h3>
            <p>
                Please refer to our Privacy Policy on our website for a full copy of our <a href="/Privacy">Privacy Policy</a> and information on how your personal information will be handled and processed by us.
            </p>
            <h3>
                Liability
            </h3>
            <p>
                Save to the extent permitted by law, we (and any of our officers, directors, employees, shareholders, sub-contractors or agents of any of them) exclude all liability and responsibility (including without limitation in respect of negligence) from any amount or kind of loss or damage arising out of or in connection with your use of this website.<br /><br />
                We do not exclude or attempt to limit in any way our liability:
            </p>
            <ul>
                <li>
                    for personal injury or death resulting from our negligence;
                </li>
                <li>
                    for any matter for which it would be illegal for us to exclude or to attempt to exclude our liability; or
                </li>
                <li>
                    for fraud or fraudulent misrepresentation.
                </li>
            </ul>
            <p>
                Subject to the exclusions/limitations set out above, we shall not be liable to you for any
            </p>
            <ul>
                <li>
                    indirect or consequential loss or damage of any nature whatsoever arising and whether caused in tort (including negligence), breach of contract or otherwise (even if foreseeable), any loss of income or revenue, loss of business, loss of profit of contracts,
                </li>
                <li>
                    loss of anticipated savings, wasted third party costs, and/or loss of data, management or office time.
                </li>
            </ul>
            <h3>
                General
            </h3>
            <p>
                We have the right to revise and amend these terms and conditions from time to time.  You will be subject to the terms and conditions in force at the time that you access our website.<br />
                If any provision within these terms and conditions is held by any competent authority to be invalid or unenforceable (in whole or in part) the validity of the other provisions of these terms and conditions and the remainder of the provision in question shall not be affected.<br/>
                These terms and conditions (including in relation to any non-contractual obligations) shall be governed by and interpreted in accordance with English law and subject to the exclusive jurisdiction of the English courts.
            </p>
        </div>
    </div>
</div>